@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap");
@import "compass/css3";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

/* Variables */
:root {
  --main-bg-color: #2c2c2c;
  --text-font: "Roboto Slab", serif;
}

body {
  background-color: var(--main-bg-color);
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: var(--main-bg-color);
  box-shadow: 5px 1px 18px #201f1f;
  position: relative;
  /* height: 7rem; */
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  background-color: #ddac32;
}
.topnav #myLinks a {
  font-size: 2.5rem;
  color: var(--main-bg-color);
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 3rem;
  font-family: var(--text-font);
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: var(--main-bg-color);
  color: #ddac32;
  display: block;
  position: absolute;
  font-size: 3.8rem;
  margin-right: 1rem;
  right: 0;
  top: -0.7rem;
}

/* Add a grey background color on mouse-over */
/* .topnav a:hover {
    background-color: #DDAC32;
    color: black;
  } */

/* Images styling */
#home_dioses {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}
.dioses_container {
  margin-bottom: 4rem;
  text-align: center;
}
.dioses_container h1 {
  font-family: var(--text-font);
  font-size: 5rem;
  color: white;
}
.dioses_img {
  width: 30rem;
}

/* Individual pages */
.dioses_img_individuales {
  width: 25rem;
}
.dioses_descripcion {
  text-align: center;
  margin: 1rem 4rem;
  font-size: 1.8rem;
  font-family: var(--text-font);
  color: white;
}

h6 a {
  text-decoration: underline;
  color: white;
}

/* color container */
.secondary_container {
  display: flex;
  /* background-color: white; */
  margin-left: 2rem;
  font-size: 2rem;
  align-items: center;
  color: white;
}
.primary_container {
  margin-top: 2rem;
  margin-left: 2rem;
  font-size: 2rem;
  align-items: center;
  color: white;
}
.terciary_container {
    margin-top: 1rem;
    display: flex;
    font-size: 2rem;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.color {
  margin-left: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  border: solid white 0.1rem;
}

/* Colors */
#green {
  background-color: green;
}
#pink {
    background-color: palevioletred;
}
#yellow {
    background-color: #ddac32;
}
#purple {
    background-color: purple;
}
#light_blue {
    background-color: lightblue;
}
#white {
    background-color: white;
}
#red {
    background-color: red;
}
#dark_blue {
    background-color: darkblue;
}
#orange {
    background-color: orange;
}
#black {
    background-color: black;
}

/* Table */
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 340px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #ddac32;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: thin solid #dddddd;
}

/* .styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
} */

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #ddac32;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}


/* Calendar table */
#calendar {
	width: 95%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

#calendar tr, #calendar tbody {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
 width: 100%;
}

caption {
	text-align: center;
  grid-column: 1 / -1;
  font-size: 130%;
  font-weight: bold;
  padding: 1rem;
}

#calendar a {
	color: #8e352e;
	text-decoration: none;
}

#calendar td, #calendar th {
	padding: 5px;
	box-sizing:border-box;
	border: 1px solid #ccc;
}

#calendar .weekdays {
	background: #8e352e;  
}


#calendar .weekdays th {
	text-align: center;
	text-transform: uppercase;
	line-height: 20px;
	border: none !important;
	padding: 10px 6px;
	color: #fff;
	font-size: 13px;
}

#calendar td {
	min-height: 50px !important;
  display: flex;
  flex-direction: column;
}

#calendar .days li:hover {
	background: #d3d3d3;
}

#calendar .date {
	text-align: center;
	margin-bottom: 5px;
	padding: 4px;
	background: #333;
	color: #fff;
	width: 30px !important;
	border-radius: 50%;
  flex: 0 0 auto;
  align-self: flex-end;
}

#calendar .event {
  flex: 0 0 auto;
	font-size: 16px !important;
  font-family: var(--text-font);
  font-weight: bold !important;
	border-radius: 4px;
	padding: 5px;
	margin-bottom: 5px;
	line-height: 14px;
	background: #ddad3260 !important;
	border: 1px solid #ddad323f !important;
	color: #ffffffaf !important;
	text-decoration: none;
}

#calendar .event-desc {
	color: rgb(226, 226, 226) !important;
	margin: 3px 0 7px 0;
	text-decoration: none;	
}

#calendar .other-month {
	background: #f5f5f5;
	color: #666;
}

#calendar .day_and_date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 1rem;
}

/* ============================
				Mobile Responsiveness
   ============================*/


@media(max-width: 768px) {

	#calendar .weekdays, #calendar .other-month {
		display: none;
	}

	#calendar li {
		height: auto !important;
		border: 1px solid #ededed;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
	}
  
  #calendar, #calendar tr, #calendar tbody {
    grid-template-columns: 1fr;
  }
  
  #calendar  tr {
    grid-column: 1 / 2;
  }

	#calendar .date {
		align-self: flex-start;
	}
}

/* Footer */
footer {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    position: static;
    bottom: 0;
    text-align: center;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.507);
}
.fa-brands {
    color: #ddac32;
    font-size: 2.5rem;
}